<div class="nav">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/registration">Register</a>
    <a href="/postimage">Post Image</a>
    <a href="/Imagepost">Image Post</a>
</div>