<div class="nav">
    <a href="/">Home</a>
    <div id="search-body">
        <input id="search-text" type="text">
        <button id="search-button">Search</button>
    </div>
    <a href="/postimage">Post Image</a>
    {{#if logged}}
    <a id="logout" href="/users/logout">Log Out</a>
    <script>
        let ele = document.getElementById('logout');
        if (ele) {
            ele.onclick = (event) => {
                fetch('/users/logout', { method: "post" })
                    .then((data) => {
                        location.replace('/');
                    })
            }
        }
    </script>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
</div>