<div class="nav">
    <a href="/">Home</a>
    <a href="/postimage">Post Image</a>
    <a href="/Imagepost">Image Post</a>
    <a href="/registration">Register</a>
    {{#if logged}}
    <a id="logout" href="/users/logout">Log Out</a>\
    <script>
        let ele = document.getElementById('logout');
        if (ele) {
            ele.onclick = (even) => {
                fetch('/users/logout', {
                    method: "post"
                })
                    .then((data) => {
                        location.replace('/');
                    })
            }
        }
    </script>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
</div>