<a href="/login"><button>Login</button></a>
<a href="/registration"><button>Registration</button></a>
<a href="/Imagepost"><button>Imagepost</button></a>
<a href="/postimage"><button>postimage</button></a>