<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="public/css/home.css">
    <script defer type="text/javascript" src="public/js/home.js"></script>
    <title>HOME</title>
</head>
<body>
    <h1>There are <strong id="count"></strong> photos on this page.</h1>
    <form id="post"></form>
</body>
</html>