<div class="page-grid">
    <header>
        <h1>Image Post</h1>
        <h3>For viewing an individual image post</h3>
    </header>
    <section class="post">
        <div class="title">Title: <em>a title from somewhere</em></div>
        <div>Author: <em>an anthor name from somewhere</em></div>
        <div>Creation Time: <em>a time from the creation</em></div>
        <div>Posted Image: <em>some descriptions</em></div>
        <img src="https://fakeimg.pl/300/" />
        <button type="submit">BACK</button>
        <button type="submit">NEXT</button>
    </section>
</div>