<form method="post" action="/users/login" enctype="application/x-www-form-urlencoded">
    <div class="form-intro">Please input your username and password and click LOGIN:</div>

    <label for="username">Username: </label>
    <input type="text" name="username" required />

    <label for="password">Password: </label>
    <input type="password" name="password" required />

    <button type="reset">RESET</button>
    <button type="submit">LOGIN</button>
</form>