<form method="post" action="/posts/createPost" enctype="multipart/form-data">
    <div class="form-intro">Please input information of your post and click POST: </div>
   
    <label for="title">Title: </label>
    <input type="text" name="title" required />
    
    <label for="descrition">Descrition: </label>
    <input type="text" name="description" required />
    
    <label for="image">Upload your image (only accept image types): </label>
    <input type="file" accept="image/*" name="image" required />
    
    <label for="accept">Check to accept <a href="Acceptable Use Policy for uploading images">Acceptable Use Policy for uploading images</a></label>
    <input type="checkbox" required />
    
    <button type="reset">RESET</button>
    <button type="submit">POST</button>
</form>