.page-grid {
    display: grid;
    background-color: #333333;
    grid-template-areas:
        "nav"
        "header"
        "content";
    padding: 1em;
    grid-gap: 1em;
    font-size: 1.5em;
    font-family: 'Comic Sans MS';
}

header {
    grid-area: header;
    text-align: center;
    font-family: cursive;
    border: solid white;
    grid-template-rows: 3fr 1fr;
}

#flashmessage {
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%,0);
    z-index: 9999;
}

    #flashmessage > div {
        text-align: center;
        padding: 0.5em;
    }

.alert {
    font-weight: bold;
    border: solid;
}

.alert-error {
    background-color: palevioletred;
    color: red;
    border-color: red;
}

.alert-success {
    background-color: lightgreen;
    color: green;
    border-color: green;
}

h1 {
    color: lightgray;
    text-shadow: .2em .1em .1em gray;
}

h3 {
    color: thistle;
}

form {
    grid-area: content;
    display: grid;
    padding: .5em;
    grid-gap: .3em;
    border: dashed white;
    margin-left: 10%;
    margin-right: 10%;
}

.reg {
    grid-template-areas:
        "nav nav"
        "header header"
        "content regFormat";
    grid-template-columns: 7fr 3fr;
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-gap: 2em;
}

    .nav > a, .card-a, .reg-a {
        text-decoration: none;
        text-align: center;
        background-color: lightgray;
        color: green;
        border: solid;
        font-family: Lemon;
    }

#regFormat {
    grid-area: regFormat;
    color: white;
    align-content: space-evenly;
    margin-left: unset;
    margin-right: unset;
}

.checkYes {
    color: green;
    font-weight: bold;
}

    .checkYes:before {
        content: '\2714   ';
    }

.checkNo {
    color: red;
    font-weight: bold;
}

    .checkNo:before {
        content: '\2718   ';
    }

.form-intro {
    grid-area: 1 / 1 / 2 / 3;
    color: lightcoral;
    font-weight: bold;
}

.post {
    border: double white;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
}

.title, .card-title {
    color: lightcoral;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#card-content {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(2, 2fr);
    margin-left: unset;
    margin-right: unset;
}

.card {
    padding: 0.5em;
    text-align: center;
}

.card-body {
    display: grid;
    padding: 0.5em;
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
}

.card-description {
    text-align: left;
    color: white;
}

[for], .reg-text {
    color: white;
    grid-column: 1;
    text-align: end;
}

input {
    grid-column: 2;
}

    input:hover {
        background-color: lightgreen;
    }

#search-text {
    font-size: 1em;
    box-sizing: border-box;
}

#search-button {
    font-size: 1em;
}

button {
    font-size: 1.5em;
    font-weight: 900;
}

[type=submit] {
    background-color: deepskyblue;
}

    [type=submit]:hover {
        background-color: midnightblue;
    }

[type=reset] {
    background-color: red;
    grid-column: 1;
}

    [type=reset]:hover {
        background-color: darkred;
    }

@media screen and (max-width: 500px) {
    .page-grid {
        grid-template-rows: .5fr;
        padding: .5em;
        grid-gap: .5em;
    }

    form {
        grid-auto-rows: .2fr;
        padding: .1em;
        border: hidden;
    }

    .form-intro {
        grid-area: 1 / 1 / 2 / 2;
    }

    [for] {
        text-align: center;
    }

    input {
        grid-column: 1;
    }

    [type=file], [type=checkbox] {
        margin-left: auto;
        margin-right: auto;
        height: min-content;
    }
}
