.page-grid {
    display: grid;
    background-color: #333333;
    grid-template-areas:
        "nav"
        "header"
        "content";
    padding: 1em;
    grid-gap: 1em;
    font-size: 1.5em;
}

header {
    grid-area: header;
    text-align: center;
    font-family: cursive;
    border: solid white;
    grid-template-rows: 3fr 1fr;
}

h1 {
    color: lightgray;
    text-shadow: .2em .1em .1em gray;
}

h3 {
    color: thistle;
}

form, section {
    grid-area: content;
    display: grid;
    padding: .5em;
    grid-gap: .3em;
    border: dashed white;
}

.reg {
    grid-template-areas:
        "nav nav"
        "header header"
        "content regFormat";
    grid-template-columns: 7fr 3fr;
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2em;
}

.nav>a {
    text-decoration: none;
    text-align: center;
    color: white;
    border: solid;
}

#regFormat {
    grid-area: regFormat;
    color: white;
    align-content: space-evenly;
}

.checkYes {
    color: green;
    font-weight: bold;
}

    .checkYes:before {
        content: '\2714   ';
    }

.checkNo {
    color: red;
    font-weight: bold;
}

    .checkNo:before {
        content: '\2718   ';
    }

.form-intro {
    grid-area: 1 / 1 / 2 / 3;
    color: lightcoral;
    font-weight: bold;
}

.post {
    border: double white;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
}

.title {
    color: lightcoral;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#post {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: 1fr;
    color: white;
}

.photo {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
    margin: 0.25em;
    padding: 1em;
    align-items: center;
}

[for] {
    color: white;
    grid-column: 1;
    text-align: end;
}

input {
    grid-column: 2;
}

    input:hover {
        background-color: lightgreen;
    }

button {
    font-size: 1.5em;
    font-weight: 900;
}

[type=submit] {
    background-color: deepskyblue;
}

    [type=submit]:hover {
        background-color: midnightblue;
    }

[type=reset] {
    background-color: red;
    grid-column: 1;
}

    [type=reset]:hover {
        background-color: darkred;
    }

@media screen and (max-width: 500px) {
    .page-grid {
        grid-template-rows: .5fr;
        padding: .5em;
        grid-gap: .5em;
    }

    form {
        grid-auto-rows: .2fr;
        padding: .1em;
        border: hidden;
    }

    .form-intro {
        grid-area: 1 / 1 / 2 / 2;
    }

    [for] {
        text-align: center;
    }

    input {
        grid-column: 1;
    }

    [type=file], [type=checkbox] {
        margin-left: auto;
        margin-right: auto;
        height: min-content;
    }
}
